@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme (Default) */
:root {
  --bg-color: theme("colors.light.background");
  --text-color: theme("colors.light.text");
  --primary-color: theme("colors.light.primary");
  --secondary-color: theme("colors.light.secondary");
  --border-color: theme("colors.light.border");
  --card-bg-color: theme("colors.light.card");
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: theme("colors.dark.background");
  --text-color: theme("colors.dark.text");
  --primary-color: theme("colors.dark.primary");
  --secondary-color: theme("colors.dark.secondary");
  --border-color: theme("colors.dark.border");
  --card-bg-color: theme("colors.dark.card");
}

/* Apply Theme Variables */
body {
  @apply transition-colors duration-300;
  background-color: var(--bg-color);
  color: var(--text-color);
}
